<li class="list-group-item">
  <%= task.content %>
  
  <div class ="row">
    <div class="col-md-4">
      Mover
    </div>
    
    <div class="col-md-4">
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
    </div>

    <div class="col-md-4">
      <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  
  </div>
          
</li>
