<li class="list-group-item">
  <%= task.content %>
  <%= task.status %>
  
  <div class ="row">
    <div class="col-md-4">
      mover
    </div>
    <div class="col-md-4">
      <%= link_to edit_task_path(task), class: "btn btn-outline-secondary" do %>
      <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to task, method: :delete, class: "btn btn-outline-secondary" do %>
      <i class="fa-regular fa-trash-can"></i>
      <% end %>
    </div>
  </div>
  
</li>
